<div class="room container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <select #themeSelector id="my-theme" class="custom-select">
        <option value="ambiance">Ambiance</option>
        <option value="chaos">Chaos</option>
        <option value="clouds_midnight">Clouds Midnight</option>
        <option value="dracula">Dracula</option>
        <option value="cobalt">Cobalt</option>
        <option value="gruvbox">Gruvbox</option>
        <option value="gob">Green on Black</option>
        <option value="idle_fingers">idle Fingers</option>
        <option value="kr_theme">krTheme</option>
        <option value="merbivore">Merbivore</option>
        <option value="merbivore_soft">Merbivore Soft</option>
        <option value="mono_industrial">Mono Industrial</option>
        <option value="monokai">Monokai</option>
        <option value="pastel_on_dark">Pastel on dark</option>
        <option value="solarized_dark">Solarized Dark</option>
        <option value="terminal">Terminal</option>
        <option value="tomorrow_night">Tomorrow Night</option>
        <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
        <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
        <option value="tomorrow_night_eighties">Tomorrow Night 80s</option>
        <option value="twilight">Twilight</option>
        <option value="vibrant_ink">Vibrant Ink</option>
      </select>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="row">
    <ng-template #editorContainer></ng-template>
  </div>
</div>
